.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.header::after {
    content: '';
    display: inline-block;
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 2rem;
    height: 2rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('/assets/img/icons/header.png');
}

.header .photo {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.header .title {
    text-align: center;
    font-family: 'Signika'
}

.information {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.information p {
    margin: .5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.125rem;
}

.information p::before {
    content: '';
    display: inline-block;
    width: 1rem;
    height: 1rem;
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: .5rem;
}

.information .job::before {
    background-image: url('/assets/img/icons/job.png');
}

.information .location::before {
    background-image: url('/assets/img/icons/location.png');
}

.information .email::before {
    background-image: url('/assets/img/icons/email.png');
}

.information .phone::before {
    background-image: url('/assets/img/icons/phone.png');
}

@media only screen and (min-width: 768px) {
    .header {
        flex-direction: row;
        grid-template-areas: 
        "photo title"
        "photo information"
        ;
        display: grid;
    }
    .header .photo {
        grid-area: photo;
        margin: 0 auto;
    }

    .header .title {
        grid-area: title;
        text-align: start;
        max-width: 220px;
    }

    .header .information {
        grid-area: information;
    }
    
}